<main class="login-page">
  <div class="login-layout">
    <section class="login-brand" aria-label="BAAAM Scheduling">
      <p class="login-brand__name">BAAAM Scheduling</p>
      <h1 class="login-brand__tagline">Your time, beautifully organized</h1>

      <div class="login-brand__artwork" aria-hidden="true"></div>
    </section>

    <section class="login-panel" aria-labelledby="login-title">
      <h2 id="login-title" class="login-panel__title">Welcome back</h2>

      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="login-role" aria-label="Login type">
          <legend class="login-role__legend">Sign in as</legend>

          <label class="login-role__option">
            <input
              class="login-role__input"
              type="radio"
              name="accountType"
              value="client"
              formControlName="accountType"
            />
            <span>User</span>
          </label>

          <label class="login-role__option">
            <input
              class="login-role__input"
              type="radio"
              name="accountType"
              value="serviceProvider"
              formControlName="accountType"
            />
            <span>Service provider</span>
          </label>
        </fieldset>

        <div class="login-field">
          <label class="login-field__label" for="username">Username</label>
          <input
            class="login-field__input"
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            formControlName="username"
            required
          />
        </div>

        <div class="login-field">
          <label class="login-field__label" for="password">Password</label>
          <div class="login-password">
            <input
              class="login-field__input login-password__input"
              id="password"
              name="password"
              [type]="passwordVisible ? 'text' : 'password'"
              autocomplete="current-password"
              formControlName="password"
              required
            />
            <button
              class="login-password__toggle"
              type="button"
              [attr.aria-label]="passwordVisible ? 'Hide password' : 'Show password'"
              [attr.aria-pressed]="passwordVisible"
              (click)="togglePasswordVisibility()"
            >
              <svg aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                <path d="M12 5c5.2 0 8.5 4.1 9.7 6-.9 1.5-4.2 6-9.7 6s-8.8-4.5-9.7-6c1.2-1.9 4.5-6 9.7-6Zm0 2c-3.7 0-6.3 2.5-7.3 4 1 1.5 3.6 4 7.3 4s6.3-2.5 7.3-4c-1-1.5-3.6-4-7.3-4Zm0 1.5A2.5 2.5 0 1 1 12 13a2.5 2.5 0 0 1 0-5Z" />
              </svg>
            </button>
          </div>
        </div>

        <div class="login-form__options">
          <label class="login-remember">
            <input
              class="login-remember__checkbox"
              name="remember"
              type="checkbox"
              formControlName="remember"
            />
            <span>Remember me</span>
          </label>

          <a class="login-link" routerLink="/forgot-password">
            Forgot password?
          </a>
        </div>

        <button class="login-submit" type="submit">Sign in</button>

        <p class="login-form__signup">
          New here? <a class="login-link" routerLink="/signup">Create an account</a>
        </p>
      </form>
    </section>
  </div>
</main>
